.board {
  width: fit-content;
  height: fit-content;
  display: flex;
  margin: auto;
  flex-direction: column;
}
.board-row {
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 100%;
}
.chess-block {
  width: 11vh;
  height: 11vh;
  max-width: 12.5vw;
  max-height: 12.5vw;
  min-width: 64px;
  min-height: 64px;
  &.white {
    background: #fff;
  }
  &.black {
    background: #111;
  }
  img {
    object-fit: contain;
    width: 80%;
    display: block;
    height: 100%;
    margin: auto;
  }
}
